// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.letters {
  margin: 0;
  padding: 0;
}

.letter {
  width: 50px;
  height: 50px;
  font-family: impact;
  font-size: 200%;
  text-align: center;
  display: inline-block;
  background-color: lightblue;
  color: white;
  list-style: none;
  margin: 0;
  border-radius: 50%
}
